
.hero-image {
  background-image: url('/images/mountain.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  border-bottom: 2px solid #000; /* Black underline */
}

footer {
  color: #ffffff;
  padding: 20px 0;
}



/* FOOTER STYLES*/
.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}
